#boxes div{
    width: 100px;
    height: 20px;
    margin: 10px;
    box-shadow: 0px 1px 1px black;
    padding: 5px;
    border: 1px black;
}

#boxes{
    display: flex;
    flex-wrap: wrap;
}

#noOfBoxes{
    margin: 30px auto;
    display: block;
}

#title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
}